@font-face {
    font-family: 'Urbanist';
    src:
    url('fonts/urbanist/Urbanist-VariableFont_wght.ttf') format('truetype'),
    url('fonts/urbanist/Urbanist-Italic-VariableFont_wght.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-Black.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-BlackItalic.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-Bold.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-BoldItalic.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-ExtraBold.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-ExtraBoldItalic.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-ExtraLight.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-ExtraLightItalic.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-Italic.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-Light.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-LightItalic.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-Medium.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-MediumItalic.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-Regular.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-SemiBold.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-SemiBoldItalic.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-Thin.ttf') format('truetype'),
    url('fonts/urbanist/static/Urbanist-ThinItalic.ttf') format('truetype'),
}
@font-face {
    font-family: 'DM Sans';
    src: url('fonts/dmSans/dm-sans--v15-normal-400.woff2') format('woff');
}
